[submodule "external/jvectormap"]
	path = external/jvectormap
	url = git@github.com:bjornd/jvectormap.git
[submodule "external/jsdoc"]
	path = external/jsdoc
	url = https://github.com/jsdoc3/jsdoc.git
