<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8"/>
  <title><%= @item[:title] %></title>
  
  <!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug: http://filamentgroup.com/examples/iosScaleBug/ -->
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  
  <script src="/js/jquery-1.6.4.min.js"></script>
  <script src="/js/css3-mediaqueries.js"></script>
  <script src="/js/modernizr.js"></script>
  <script src="/js/jquery-jvectormap.js"></script>
  
  <% if @item[:js_assets] %>
    <% @item[:js_assets].each do |asset| %>
      <script src="<%= asset %>"></script>
    <% end %>
  <% end %>
  
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  
  <link rel="stylesheet" media="all" href="/css/style.css"/>
  <link rel="stylesheet" media="all" href="/css/lessframework.css"/>
  <link rel="stylesheet" media="all" href="/css/skin.css"/>
  <link rel="stylesheet" media="all" href="/css/jquery-jvectormap.css"/>
  <link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>  
</head>

<body lang="en">
  <header>
    <div class="wrapper clearfix">
      
      <div id="logo">
        <a href="/"><img  src="/img/logo.png" alt="Simpler"></a>
      </div>
      
      <% menu = MenuHelper.build_menu(items: @items, current_item: @item, level: 1, depth: 1) %>
      <ul id="nav">
        <% menu.each do |item| %>
          <% if item[:current] %>
            <li class="current-menu-item"><a><%= item[:title] %></a></li>
          <% else %>
            <li><a href="<%= item[:path] %>"><%= item[:title] %></a></li>
          <% end %>
        <% end %>
      </ul>
      
      <% if @item[:home] %>
        <div class="clearfix"></div>
        <div id="slider-holder" class="clearfix">  
          <div class="flexslider home-slider">
            <img src="/img/map-demo.png"/>
          </div>
        
          <div class="home-slider-clearfix "></div>
        
          <div id="headline">
            <h4>LOREM LEO DOLOR</h4>
            <p class="headline-text">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, eget, ante. Donec eu libero sit amet quam egestas semper. Aenean .  vitae, ornare sit amet.</p>
            <p><a href="#" class="read-more">Learn more</a></p>
          </div>
        </div>
      <% end %>
    </div>
  </header>
  
  <div id="main">  
    <div class="wrapper clearfix">
      <%= yield %>
    </div>
  </div>
  
  <footer>
    <div class="wrapper clearfix">
      <div class="footer-bottom">
        <div class="left">&copy; Kirill Lebedev</div>
      </div>
    </div>
  </footer>
</body>
</html>