<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8"/>
  <title><%= @item[:title] %></title>

  <!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug: http://filamentgroup.com/examples/iosScaleBug/ -->
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <script src="/js/jquery-1.7.2.min.js"></script>
  <script src="/js/css3-mediaqueries.js"></script>
  <script src="/js/modernizr.js"></script>
  <script src="/js/jquery-jvectormap.js"></script>
  <script src="/js/tabs.js"></script>

  <% if @item[:js_assets] %>
    <% @item[:js_assets].each do |asset| %>
      <script src="<%= asset %>"></script>
    <% end %>
  <% end %>

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link rel="stylesheet" media="all" href="/css/style.css"/>
  <link rel="stylesheet" media="all" href="/css/lessframework.css"/>
  <link rel="stylesheet" media="all" href="/css/skin.css"/>
  <link rel="stylesheet" media="all" href="/css/jquery-jvectormap.css"/>
  <link rel="stylesheet" media="all" href="/css/syntax.css"/>
  <style>

  </style>
</head>

<% if @config[:ga_code] %>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-20607161-5']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<% end %>

<body lang="en">
  <header>
    <div class="wrapper clearfix">

      <div id="logo">
        <a href="/"><img src="/img/logo.png" alt="Simpler"></a>
      </div>

      <% menu = MenuHelper.build_menu(items: @items, current_item: @item, level: 1, depth: 1) %>
      <ul id="nav">
        <% menu.each do |item| %>
          <% if item[:current] %>
            <li class="current-menu-item"><a><%= item[:title] %></a></li>
          <% elsif item[:selected] %>
            <li class="current-menu-item"><a href="<%= item[:path] %>"><%= item[:title] %></a></li>
          <% else%>
            <li><a href="<%= item[:path] %>"><%= item[:title] %></a></li>
          <% end %>
        <% end %>
      </ul>

      <% if @item[:home] %>
        <div class="clearfix"></div>
        <div id="slider-holder" class="clearfix">
          <div class="demo-map"></div>

          <div class="home-slider-clearfix "></div>

          <div id="headline">
            <h4>Why to use jVectorMap?</h4>
            <ul class="headline-list">
              <li>Works in all modern browsers (including IE6-8)</li>
              <li>Looks great on any resolution because of its vector nature</li>
              <li>Many maps are <a href="/maps/">available</a></li>
              <li>Custom maps could be created using converter</li>
            </ul>
            <p><a href="/download">Download</a></p>
          </div>
        </div>
        <script src="/js/jquery-jvectormap-world-en.js"></script>
        <script src="/js/gdp-data.js"></script>
        <script>
          $(function(){
            $('.demo-map').vectorMap({
              map: 'world_en',
              backgroundColor: 'transparent',
              values: gdpData,
              scaleColors: ['#C8EEFF', '#0071A4'],
              normalizeFunction: 'polynomial',
              hoverOpacity: 0.7,
              hoverColor: false
            });
          });
        </script>
      <% end %>
    </div>
  </header>

  <div id="main">
    <div class="wrapper clearfix">
      <% if !@item[:home] %>
        <div class="masthead clearfix">
          <h1><%= @item[:title] %></h1>
          <% if @item[:subtitle]%>
            <span class="subheading"><%= @item[:subtitle] %></span>
          <% end %>
        </div>
        <div class="mh-div"></div>
        <% if @item[:submenu] %>
          <%= render 'submenu' %>
          <div id="posts-list" class="clearfix">
            <%= yield %>
          </div>
        <% else %>
          <div id="page-content" class="clearfix">
            <%= yield %>
          </div>
        <% end %>
      <% else %>
        <%= yield %>
      <% end %>
    </div>
  </div>

  <footer>
    <div class="wrapper clearfix">
      <div class="footer-bottom">
        <div class="left">&copy; Kirill Lebedev</div>
      </div>
    </div>
  </footer>
</body>
</html>