<script>
  $(function(){
    $(".tabs").tabs("div.panes > div", {
      onClick: function(e, index){
        var cont = $('div.panes .jvectormap:nth('+index+')');

        if (!cont.children('.jvectormap-container').data('mapObject')) {
          $('.jvectormap-'+cont.attr('data-projection')).vectorMap({
            map: cont.attr('data-name'),
            backgroundColor: 'transparent',
            regionStyle: {
              initial: {
                fill: '#8d8d8d'
              }
            }
          });
        }
      }
    });
  });
</script>
<ul class="tabs">
  <% @item[:map_params_variants].each do |map_params| %>
    <li>
      <a href="#<%= map_params[:projection] %>">
        <span><%= @config[:projection_names][map_params[:projection].to_sym] %></span>
      </a>
    </li>
  <% end %>
</ul>
<div class="panes">
  <% @item[:map_params_variants].each do |map_params| %>
    <div>
      <div style="width: 708px; height: <%= (defined?(height) ? height : '400') %>px" class="jvectormap jvectormap-<%= map_params[:projection] %>" data-projection="<%= map_params[:projection] %>" data-name="<%= map_params[:name] %>"></div>
      <p><a href="<%= map_params[:download_link] %>">Download</a> (<%= numer_to_human_size(map_params[:file_size]) %>)</p>
      <p>To render the map use the following code:</p>
<pre class="syntax"><code class="language-javascript">
$('#map').vectorMap({map: '<%= map_params[:name] %>'});
</code></pre>
    </div>
  <% end %>
</div>
<div class="pane-single">
  <h3>Codes</h3>
  <table>
    <% @item[:regions].each_with_index do |region, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= region[:code] %></td>
        <td><%= region[:name] %></td>
      </tr>
    <% end %>
  </table>
</div>
<div class="pane-single">
  <h3>Processor config</h3>
<pre class="syntax"><code class="language-javascript">
<%= @item[:map_params_variants][0][:proc_config] %>
</code></pre>
</div>
<div class="pane-single">
  <h3>Data source</h3>
  <% if @item[:data_params] %>
    <div>
      This map is based on data available at <a href="<%= @item[:data_params][:source] %>"><%= @item[:data_params][:source] %></a>.
      <% if @item[:data_params][:license] == 'public domain' %>
        Data is in <a href="<%= @item[:data_params][:license_link] %>">public domain</a>.
      <% else %>
        Data is licensed under the terms of <a href="<%= @item[:data_params][:license_link] %>"><%= @item[:data_params][:license] %></a>.
      <% end %>
    </div>
  <% end %>
</div>