<aside id="sidebar">	
  <% sub_menu = MenuHelper.build_menu(items: @items, current_item: @item, level: 2, depth: 2) %>
  <ul>
    <% sub_menu.each do |item| %>
      <li class="cat-item">
        <% if item[:current] %>
          <%= item[:title] %>
        <% else %>
          <a href="<%= item[:path] %>"><%= item[:title] %></a>
        <% end %>
        <% if item[:children] %>
          <ul>
            <% item[:children].each do |item| %>
              <li class="cat-item">
                <% if item[:current] %>
                  <%= item[:title] %>
                <% else %>
                  <a href="<%= item[:path] %>"><%= item[:title] %></a>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </li>
    <% end %>
  </ul>
</aside>